.content{
	 margin-top:10px;
	 margin-left:15%;
 }
 
.product {
	background: #ffff8f none repeat scroll 0 0;
	border: 2px solid #c0c0c0;
	overflow: hidden;
	padding: 25px 15px 15px 15px;
	position: relative;
	text-align: center;
	margin-bottom: 20px;
	margin-right:10%;
	display:inline-block;
	width: 20%;
	height:400px;
}
.product:hover {
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}
.product-title {
	color: #000;
	text-transform: uppercase;
}
.product-desc {
	max-height: 80px;
	overflow: hidden;
	font-size:12px;
}
.product-price {
	bottom: 5px;
	left: 0;
	position: absolute;
	width: 100%;
	color: #d51e08;
	font-size: 18px;
}
.content img {
width: 150px;

}
.product-img {
height: 200px;
}
button{	
	background: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	border: 1px solid #56bd4b;
	border-radius: 3px;	
	padding: 10px;
}