body {
    font: 12pt Arial, Helvetica, sans-serif; /* Шрифт на веб-странице */
    background: #ffff3f; /* Цвет фона */
    margin: 0; /* Убираем отступы */
   }
   h2 {
    font-size: 15pt;  
    margin-bottom: 0; 
   }
   #container {
    width: 5000x ;
    margin: 0 auto; 
   }
   #header {
    background: #F0E68C;
	text-align: center;
    font-size: 20pt; 
    color: #FF4500; 
    padding: 15px; 
	border-radius: 20px; 
   }
   #sidebar {
    float: left; /* Обтекание по  краю */
    width: 150px; /* Ширина правой колонки */
    padding: 10px; /* Отступы вокруг текста */
    background: #ffff8f; /* Цвет фона */
	border-radius: 10px; 	
	
   }
   #sidebar a {
    color: #882641; /* Цвет ссылок */
   } 
   
   .mainmenubtn {
    background-color: #FF4500;
    color: black;
	font-size:20px;
    border: none;
   // cursor: pointer;
    padding:7px;
    margin-top:3px;
	border-radius: 5px; 
}   
.dropdown {
    position: relative;	
    display: inline-block;
	margin-left:20px;
}